.content {
    font-size: 18px;
    line-height: 140%;

    @media(max-width: 580px) {
        font-size: 16px;
    }

    p {
        padding-bottom: 10px;
    }

    h3 {
        &:first-of-type {
            padding-top: 0;
        }
        padding: 15px 0 10px;
    }

    a {
        font-size: 16px;

        &.with-arrow {
            color: $blue;
            display: flex;
            align-items: center;
            &::after {
                content: "";
                display: inline-block;
                margin-left: 12px;
                background-image: url(../img/arrow.svg);
                width: 6px;
                height: 11px;
                background-size: 6px 11px;
                transform: translateY(1px);
                flex-shrink: 0;
            }

            @media(max-width: 580px) {
                font-weight: 600;

                
            }
        }

        &:hover {
            text-decoration: underline;
        }
    }

    ul {
        list-style: initial;
        padding-left: 20px;;
    }
}
