.section {
  padding: 80px 0 105px;
  &__title {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;
    &_white {
      color: white;
    }
  }

  &__subtitle {
    font-family: "SignPainter";
    font-size: 35px;
    color: $blue;
    margin-bottom: 10px;
    line-height: 100%;
  }

  &_services {
    background-size: cover;
  }
}

.phone {
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  transition: color 0.2s ease-in;

  &:hover {
    color: $blue;
  }
}

.logo {
  background-image: url(../img/logo.png);
  display: block;
}

.social {
  a {
    transition: background-color 0.2s ease-out;
    &:hover {
      background: $gray;
    }
    svg {
    }
  }

  .viber {
    background: #7f3cd3;
    svg {
      transform: translate(0, 1px);
    }

    &:hover svg {
      fill: #7f3cd3;
    }
  }
  .whatsapp {
    background: #3cd382;
    &:hover svg {
      fill: #3cd382;
    }
  }
  .vk {
    background: #0077ff;
    &:hover svg {
      fill: #0077ff;
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: $blue;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid $blue;
  color: white;
  padding: 14px 22px;
  transition: background-color 0.2s ease-in;

  &:hover {
    background: white;
    color: $blue;

    svg.icon-phone {
      filter: initial;
    }
  }

  svg.icon-phone {
    width: 16px;
    height: 16px;
    margin-right: 12px;
    filter: brightness(0) invert(1);
  }
}

.btn-up {
}

[data-src],
[data-srcset] {
  background-image: url(../img/loader.gif);
  min-height: 100px;
  background-size: 64px 64px;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .swiper-scrollbar {
    height: 2px;
    position: static;
    cursor: pointer;
    &-drag {
      background: $main;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: static;
    color: $gray;
    margin-top: 0;

    &::after {
      font-size: 18px;
    }
  }

  .swiper-slide {
    height: auto;
  }

  &-arrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    margin-right: 50px;
    padding: 0 8px;
    width: 106px;
  }

  &-more {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    text-decoration-line: underline;
    margin-left: 50px;
    flex-shrink: 0;
    transition: color 0.2s ease-in;
    &:hover {
      color: $blue;
    }
  }
}

.lg-download {
  display: none;
}

.col2 {
  li {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 30px;
    > *:first-child {
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;
    }
    padding: 30px 0;
    border-bottom: 2px solid $hr;

    &:last-child {
      border-bottom: none;
    }
  }
}
